/* COLORES */
:root {
  --main-color: #137eb4;
  --dark-main: #00203e;
  --sec-color: #0bb592;
  --grey: #7d858c;
  --main-transparent: #137eb44d;
  font-family: Work sans;
}
/* AJUSTES BASE */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  max-width: 1200px;
  min-width: 100%;
}

/* SECCIÓN PRINCIPAL*/
.flex-on-grid {
  display: flex;
  justify-content: center;
}
.banner {
  display: flex;
  height: 80px;
}
.logo {
  background-image: url("BAManagers.png");
  background-size: cover;
  height: 70px;
  width: 200px;
}
nav.menu {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
nav.menu {
  margin: 0 20px;
}
nav.menu a {
  transition: color 1s, font-size 1s;
  text-decoration: none;
  color: var(--grey);
  margin: 0 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
}
nav.menu a:hover {
  font-size: 17px;
  color: var(--main-color);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("background-desktop.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -170px;
  width: 100%;
  height: 450px;
}

/* H1 Y TEXTO PRINCIPAL */
.main-text {
  padding: 40px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text h1 {
  line-height: 1.2;
  font-size: 60px;
  color: #fff;
  margin: -15px 0 10px 0;
}
.main-text p {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 40px 0;
}
#first-span {
  display: block;
}
.main-text:hover .keyword {
  color: var(--main-color);
}
.keyword {
  transition: color 0.5s ease-in-out;
}

/* LLAMADAS A LA ACCIÓN */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-family: "Work Sans";
  font-size: 13px;
  text-transform: uppercase;
  line-height: 13px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #137eb4;
  border-style: solid;
  border-color: #137eb4;
  border-radius: 30px 30px 30px 30px;
  padding: 15px 33px 15px 33px;
  box-sizing: border-box;
}
button:hover {
  transition-property: background-color, #fff;
  transition-duration: 0.5s;
  box-shadow: 2px 1000px 1px #fff inset;
  color: var(--main-color);
  font-weight: bold;
}

.wsp-button {
  fill: white;
  padding: 10px 15px;
  margin: 0 0 0 10px;
}
.wsp-button svg {
  position: relative;
  inset: 1px 1px;
}
.wsp-button:hover {
  fill: var(--main-color);
}

/* ESTILOS DE TARJETAS */
.grid-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 20px;
  margin: 38px 50px;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  margin: 20px 0;
  width: auto;
}
.card-1 h3,
.card-2 h3,
.card-3 h3,
.card-4 h3 {
  font-size: 25px;
  color: var(--main-color);
  margin: 0;
}
.card-3 h3 {
  margin: 0 0 12px 0;
}
.card-4 h3 {
  margin: 0 0 15px 0;
}
.card-4 p {
  margin: 0 0 15px 0px;
}
.card-1 p,
.card-2 p,
.card-3 p {
  color: var(--grey);
  margin: 6px 0;
}

.grid-container > :hover .keyword {
  color: var(--main-color);
}
.card-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.card-2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.card-3 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.timeline {
  background-position: center;
  width: 100%;
  border-radius: 10px;
  margin: 17px 0;
  height: 145px; /*Original: 80*/
  background-image: url("timeline-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.card-4 {
  grid-column: 1/3;
  grid-row: 4/5;
}

/* METODOS DE PAGO */
.paymethods {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: auto;
  background-color: var(--main-transparent);
  /* width: 100%; */
  border-radius: 10px;
  padding: 10px 10px;
}
.paymethods span {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 10px;
  width: 50px;
}

/* FOOTER */
.email-banner {
  background-color: var(--grey);
}
.email-banner p {
  color: #fff;
  font-size: 12px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
}
.email-banner a {
  text-decoration: none;
}
.email-banner:hover p {
  color: var(--dark-main);
  font-weight: bold;
}
.email-banner:hover p::before {
  content: "Dudas y consultas";
  padding: 0 10px;
  color: white;
}
.email-banner:hover p::after {
  content: "◀";
  padding: 0 10px;
  color: white;
}

/* MEDIA QUERYs ----------------------------------------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav.menu {
    display: none;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }
  .flex-container {
    background-size: cover;
    background-image: url("background-mobile.png");
    background-repeat: no-repeat;
    background-position: 0;
  }
  .main-text {
    background-color: transparent;
    padding: 20px 0;
  }
  .main-text:hover .keyword {
    color: var(--main-color);
  }
  .main-text h1 {
    color: white;
    line-height: 1.2;
    font-size: 33px;
    margin: 0 0 20px 0;
  }
  .main-text p {
    box-sizing: border-box;
    width: 100%;
    color: white;
    margin: 0 50px;
    padding: 0 20px;
  }
  button {
    margin: 10px 0;
  }
  .buttons {
    flex-direction: column;
    padding: 5px 10px;
  }

  .wsp-button {
    margin: 0 5px;
    padding: 6px 13px;
  }
  .grid-container {
    display: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    padding: 1rem;
    border-radius: 0.5rem;
    width: auto;
    margin: 0;
  }
  .timeline {
    width: auto;
    background-image: url("timeline-mobile.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
  }
  .card-4 {
    text-align: center;
  }

  .paymethods {
    width: auto;
  }
  .paymethods span {
    padding: 0 10px;
    width: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  nav.menu {
    display: none;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }

  .flex-container {
    background-image: url("background-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
  }
  .main-text {
    background-color: transparent;
  }
  .main-text h1 {
    line-height: 1.2;
    font-size: 40px;
    color: #fff;
    margin: -15px 0 10px 0;
  }
  .main-text:hover .keyword {
    color: var(--main-color);
  }
  .main-text p {
    margin: 0 50px;
    padding: 0 20px;
    width: 80%;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    gap: 0;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    padding: 1rem;
    border-radius: 0.5rem;
    width: auto;
    margin: 0;
  }
  .timeline {
    margin: 0;
  }
  .paymethods {
    width: auto;
  }
  .paymethods span {
    padding: 0 10px;
    width: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav.menu {
    font-size: 14px;
    width: auto;
    text-align: center;
  }
  nav.menu a:hover{
    font-size: 14px;
  }
  .logo {
    display: block;
    margin: 0 auto;
  }

  .flex-container {
    background-position: 0;
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-text h1 {
    line-height: 1.2;
    font-size: 40px;
    color: #fff;
    margin: -15px 0 10px 0;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
    gap: 0;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    padding: 0 1rem;
    border-radius: 0.5rem;
    width: auto;
    margin: 25px 0px;
  }
  .paymethods {
    width: auto;
  }
  .paymethods span {
    padding: 0 10px;
    width: 40px;
  }
}
